@model IEnumerable<Covid.Models.CasosAtivos>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCasosAtivos)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCasosAtivos)
            </td>
        </tr>
}
    </tbody>
</table>
